@model Nome.Models.UserProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>UserProfileModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizenship)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile") |
    @Html.ActionLink("Back to List", "Index")
</p>
