@model Nome.Models.StudentModel
@{
    ViewBag.Title = "StudentsList";
}

<h2>StudentsList</h2>

@if (Session["User"] != null)
{


    using (Html.BeginForm("InsertStudent", "Students", FormMethod.Post, new { @class = "addStudent" }))
    {
        @Html.AntiForgeryToken()

        <h4>StudentToInsert</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.StudentToInsert.FirstName, new { htmlAttributes = new { @placeholder = "Student Name" } })
        @Html.ValidationMessageFor(model => model.StudentToInsert.FirstName, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.StudentToInsert.LastName, new { htmlAttributes = new { @placeholder = "Student Surname" } })
        @Html.ValidationMessageFor(model => model.StudentToInsert.LastName, "", new { @class = "text-danger" })

        <input type="submit" value="Add" class="btn btn-default" />
    }

}


<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var student in Model.StudentsList)
        {
        <tr>
            <td>@student.Id</td>
            <td>@student.Firstname</td>
            <td>@student.Lastname</td>
            @if (Session["User"] != null)
            {
                <td>
                    <button>@Html.ActionLink("Edit", "EditStudent", new { Id = student.Id }) </button>
                    <button>@Html.ActionLink("Delete", "DeleteStudent", new { Id = student.Id, Firstname = student.Firstname, Lastname = student.Lastname }) </button>
                </td>
            }
        </tr>
        }
    </tbody>

</table>


@section scripts{
    <script>
        $(".addStudent input").attr("style", "margin: 0 5px 0 0;");
        $(".addStudent input:eq(1)").css("margin-left", "10px").before("<span>Crea un nuovo studente: </span>")
    </script>
}